<section class="central">
    <nav class="navbar navbar-expand-sm navbar-light ">
        <div class="container-fluid ">
            <div class="nav_logo ">
                <a class="navbar-brand " href="http://localhost:3000/">
                    <!-- <img src="/images/pokemon-go-icon.png" alt="" class="imgNav"> -->
                    <img src="https://i2.wp.com/i.imgur.com/JRSTIux.jpg?resize=816%2C9999&ssl=1" class="imgNav">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navBarOpciones" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item active"><a class="nav-link" id="inicio"
                            href="http://localhost:3000/">Inicio</i></a></li>

                    <li class="nav-item"><a class="nav-link" id="jobs" href="#">Consultar Jobs</a class="nav-link">
                    </li>

                    <li class="nav-item"><a class="nav-link" id="listaRegistrados" href="#">Usuarios Registrados</a
                            class="nav-link"></li>

                </ul>
            </div>

            <div id="usuario" class="dropdown navbar-right">
                <button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown" type="button">
                    <img src="/images/guess.jpg" alt="" class="imgUsuario">
                    <span class="caret"></span>
                </button>
                <ul aria-labelledby="dropdownMenu" class="dropdown-menu">
                    <li class="opSalir" id="opSalir">Salir</li>
                </ul>
            </div>
        </div>
    </nav>

</section>