
 .list-users{
    padding: 1rem;
    /* padding-bottom: 1rem; */
      background-color: bisque;
      /* padding: 0.5rem; */
      /* width:100%; */
      border-radius: 5px
  }

  .tableUsersRegistrados{
      border-radius: 5px;
  }


.tableUsersRegistrados  th, td{
    border: 1px solid #ddd;
  padding: 8px;
  }
  .tableUsersRegistrados  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  }
  .tableUsersRegistrados  tr:nth-child(even){
  background-color: #f2f2f2;
  }
  .tableUsersRegistrados  tr:nth-child(odd){
  background-color: #f0dcdc;
  }
  .tableUsersRegistrados  tr:hover {
  background-color: #d3f0d5;
  }